[2019-03-18 21:53] dzmitry-varabei opened #5 "Синхронизация переводов для discussion rules"
Старые варианты:
[code]

[2019-03-21 09:54] dzmitry-varabei opened #7 "Инструкция для тренеров - "Как стримить лекции на YouTube канал The Rolling Scopes ""
@davojta Согласился помочь с этим документом
Дедлайн - 1 апреля.

[2019-03-21 09:57] Shastel commented on #7
Добавьте пожалуйста в док, что желательно вставлять в ютуб описание лекции, с нужными ссылками (+ включающий в себя дефолтовый шаблон ссылок на соц сетки), и по возможности еще и подготовить теги

[2019-03-21 10:06] dzmitry-varabei commented on #7
@Shastel очень по делу написал :) Может ты тоже список составишь, где и что брать (шаблоны описаний/заставки/и тд)?

[2019-03-21 10:32] Shastel commented on #7
Шаблонов описаний нет, тамбнейлы я сам генерю

[2019-03-21 10:36] Shastel commented on #7
Еще надо помнить, что можно ссылаться на другие лекции с канала (до 5 штук), и если лектор такие найдет то их можно добавить как аннотации либо попросить меня в формате timecode url

[2019-03-22 07:19] davojta commented on #7
а мы можем это как то автоматизировать? не знаешь, есть ли апи к примеру
какое ?

On Thu, 21 Mar 2019, 13:36 Maksim Shastsel, <notifications@github.com>
wrote:

[2019-03-22 11:02] dzmitry-varabei opened #8 "Добавить к "Требования к оформлению коммитов и PR" конкретные примеры"
Из фидбека:
[code]

[Требования к выполнению тасков в RSSchool stage#2](https://github.com/rolling-scopes-school/docs/blob/master/stage2-tasks-requirements.md)

[2019-03-23 17:56] feugenix commented on #8
А может вообще уменьшить разрешённые типы коммитов к двум: feat и fix? Потому что сильно формализированная система требований к названиям коммитов может сильно путать и пугать людей.
Да и не всегда получается правильно дробить коммиты так, чтобы можно было корректно выбрать тип коммита. Например, у меня идёт процесс рефакторинга кода с написанием документации. Это refactor или docs? Или мне надо и

[2019-03-25 18:31] dzmitry-varabei opened #10 "Реализовать возможность подтягивать оценки в score напрямую из PR"
Варианты:
- Chrome extension
- GitHub web hooks
- ????

[2019-03-29 12:16] dzmitry-varabei opened #11 "Форматирование сообщений"
Добавить раздел "Форматирование сообщений" в
https://github.com/rolling-scopes-school/docs/blob/master/ru/discussion-rules.md

- [Пару примеров из официальной документации](https://support.discordapp.com/hc/ru/articles/210298617-%D0%A0%D0%B0%D0%B7%D0%BC%D0%B5%D1%82%D0%BA%D0%B0-%D1%82%D0%B5%D0%BA%D1%81%D1%82%D0%B0-101-%D0%A4%D0%BE%D1%80%D0%BC%D0%B0%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0

[2019-03-29 13:33] dzmitry-varabei commented on #11
Оказалось, что в ios приложении нет поддержки форматирования кода :(

[2019-04-03 11:36] davojta commented on #7
@dzmitry-varabei сделал базовую инструкцию - https://github.com/rolling-scopes-school/docs/pull/12

Если надо еще чтотот - пиши дополним

[2019-04-03 11:36] davojta commented on #7
еще Сергей Шаляпин сказал допишет )

[2019-04-03 11:36] davojta commented on #10
Ооо экстеншен я напишу )

[2019-04-03 11:36] davojta commented on #10
Только надо с форматом оценки определится )

[2019-04-03 11:38] davojta commented on #10
С экстеншном у меня давно идеи бродят, тк там много чего можно делать )

[2019-04-05 10:13] davojta commented on #8
@dzmitry-varabei https://github.com/rolling-scopes-school/docs/pull/13

[2019-04-07 08:06] #11 closed, assigned to nobody

[2019-04-07 08:16] #8 closed, assigned to davojta, dzmitry-varabei

[2019-04-08 08:07] #5 closed, assigned to nobody

[2019-04-23 11:51] davojta commented on #7
@dzmitry-varabei надо закрывать?

[2019-04-23 11:53] dzmitry-varabei commented on #7
@davojta да, давай закрывать

[2019-04-23 11:53] #7 closed, assigned to davojta

[2019-04-29 06:21] dzmitry-varabei opened #17 "Переход от отдельных md файлов к структурированной документации"
Предлагаю реализовать "документацию в виде сайта" на базе текущего набора md файлов.
Пример, как должен выглядеть результат - https://lodash.com/docs/4.17.11

Основные фичи:
1) Вся документация выглядит как единый файл
2) Можно перейти к конкретному разделу (Например, https://lodash.com/docs/4.17.11#noop)
3) Версионирование документации
4) Консистентный перевод (все переводы представляют одну верс

[2019-04-29 06:52] dzmitry-varabei opened #18 "Пересмотр оценки, в случае если студент исправил замечания"
Собираю предложения, что необходимо сделать ментору, если студент исправил замечания?

1) Что должен делать студент с замечаниями ментора?
2) Можно ли пересмотреть оценку, если студент исправил замечания
3) Что делать если студент исправил, например, ошибки eslint? вкомитал функционал, который не был реализован к дедлайну?
4) ...

[2019-04-29 07:07] davojta commented on #18
Я студентов так оценивал
1) просил чтобы делали задания до дедлайна, чтобы было время чекнуть
2) проверял до дедлайна - и оставлял замечания, они исправляли
3) если чтото было не так, я снижал оценку (это менторское снижение - за плохой код и тд, а не за функциональность) - и говорил что не буду снижать, если исправят за какой то короткий промежуток времени (eslint, refactorings, etc)
4) если у ст

[2019-04-29 07:42] AliaksandrZahorski commented on #18
Процесс обучения включает в себя как образовательные, так и воспитательные задачи. То, что для одного студента будет положительным воздействием и поможет в развитии навыков - для другого может стать разочарованием. Правильно использовать инструменты оценок - этому тоже необходимо учить.
Как уже писал ранее, у большинства менторов таких навыков и педагогического опыта нет, что приводит к необходимо

[2019-04-29 07:55] dzmitry-varabei commented on #18
Если сделать так:
1) Фичи сделал до дедлайна и все идеально - за них можно получить 100% баллов
2) Фичи, которые сделал или доделал после дедлайна получают штраф -30%
3) Пока фича не доделана полностью - 0 баллов

[2019-04-29 18:12] mrstalon commented on #18
Надо только определится с временем, которое будет у студента на доработку

[2019-04-29 18:20] dimadk24 commented on #17
Предлагаю реализовать с помощью [gitbook](https://www.gitbook.com). Сам не работал, но видел, что многие доки open source проектом используют их. Поддерживают Markdown, синкаются с гитхабом, бесплатны для open source проектов

[2019-04-29 18:24] Sijioth commented on #18
В этом есть смысл, так как у всех скорость усвоения информации разнится. Кроме того, база также играет достаточно большую роль.
А так будет дополнительная мотивация доделать-таки таску до конца)

----
По времени на доработку: предлагаю до дедлайна следующей таски.
Аргументы за:
достаточно либерально и должно отсеять споры за "много-мало" времени, к тому же отпадает необходимость оценивать доп. вре

[2019-04-29 19:53] davojta commented on #18
@AliaksandrZahorski мне нравится идея с бинарным сделал \ не сделал, хотел даже чекбоксы замутить в задании на Дом Код Джем - но у меня такое смутило
- много переделывать в заданиях надо. Много переделывать - много потом вопросов у студентов
- для меня фича - это 50% + 1, я считаю что она сделана но с дисконтом.
- мне не сложно считать, если студент делает самопроверку + нормальное не усложненое у

[2019-04-29 19:56] davojta commented on #18
@AliaksandrZahorski

Менторы на курсах тоже учаться (быть менторами, наставниками, помогать людям,у которых меньше знаний \ навыков).

Это не педагогика в чистом виде, не воспитание - это профессиональное обучение основам специализации. Да есть моменты с дедлайном, менторами, еще чем то.

Да и .в целом определенная нечеткость курсов - она как фишка. Тк дает тебе хорошо понять, что ТЗ - это основа

[2019-04-29 19:58] davojta commented on #18
@dzmitry-varabei у нас есть проблема с определением что такое фича )

И я не вижу чем логика стандартного дисконта к оценке хуже - типо -10%, - 30% и -70%

Я -70% применял когда студент хочет доделать \ передалать задания чтобы дотянуться до сертификата.

[2019-04-29 20:01] davojta commented on #18
Я насчет таблиц с оценками - обсуждали после набора 2018q3 систему
- базовое задание
- нормальное задание
- повышенной сложности

На каждый по 2-4 пункта, по 10 баллов за каждый
Там понятно как оценивать частично сделанное \ или не сделанное.

Понятно к чему можно привязываться при выдачи сертификата (нормальное задание на 80 процентов)

Понятно студенту, как получить сертификат.

[2019-04-30 09:44] Sijioth commented on #18
@davojta
Имхо, фичей можно считать (в рамках отдельно взятой таски) одно из требований, которое оценивается баллами.
Вот у тебя в задании кодДжема четко этот момент прослеживается.

[2019-04-30 21:03] auseika commented on #18
1. Фіксіць. Нават калі студэнт выканае патрабаванне даволі фармальна, каб дабраць балы, ў галаве трабл адкладзецца, і, потым, спадзяюся, вырашыцца. Калі проста прастаўляць адзнаку і пісаць заўвагі, якія студэнт праглядзіць адзін раз і забудзецца, эфект будзе не такі добры.
2. Абавязкова, інакш не будзе матывацыі каб фіксіць.
3.  Схема, калі юзаюцца штрафы за пратэрміноўку - ок, таму што за першыя

[2019-04-30 21:06] Shastel commented on #18
2. Я считаю, что правильно не ставить оценку, пока ошибки не исправлены == функционал не вмержен.

[2019-05-01 18:42] cathzetjo commented on #18
Не всегда ясен **итоговый балл**, выставленный ментором. На этом акцентируют внимание многие студенты.  Есть обязательства у студентов по оформлению PR. Предлагаю сделать такое же требование для менторов.
Например итоговый коммент ментора должен выглядеть кроме рекомендаций с вот таким дополнительным расчётом:
Total: 100-10-5-10= 75
-10 опоздание сдачи таска на 1 день
-5 неверное название классов

[2019-05-01 20:24] JuliaMV commented on #18
Я думаю это хорошая идея как-то мотивировать студентов за исправление замечаний менторов и доделывание фич, и было бы неплохо давать баллы, но не большие, с каким-то коэффициентом. Но в то же время это дополнительная нагрузка на менторов, к сожалению и так далеко не все менторы успевают проверить таски студентов в течение двух недель после сдачи, будет ли у них возможность/желание просматривать та

[2019-05-01 22:33] daniil-loban commented on #18
Что необходимо сделать ментору, если студент исправил замечания?

: Если студент быстро исправил замечания, потери по баллам должны быть минимальны (все таки это учеба) к тому же вероятно есть мотивация у студента.
Если долго исправлял или не проявил желания или нашел отговорки, оценка на усмотрение ментора (насколько критична ошибка, насколько критична реакция студента)

Что должен делать студент

[2019-05-10 19:21] irinainina commented on #18
Ментор сразу сказал, что нужно успевать делать таски до дедлайнов, чтобы он  успевал проверить/подсказать что исправить. Успеваю, это в моих интересах. То есть я делаю задание как могу и как его понимаю, он смотрит что получилось, говорит, что исправить/улучшить, я исправляю, он ставит оценку по конечному результату с учётом исправлений. Задания сдаются до дедлайна. Затягивать со сдачей до следующ

[2019-05-12 06:14] dzmitry-varabei opened #19 "Определить скоп, для которого студенты должны писать юнит тесты при выполнение заданий"
Варианты:
- тестируем только чистые функции. Например, минимум 3 чистые функции должно быть протестировано
- тестируем то, что попросил тестировать ментор
- просто написать 10 любых тестов

[2019-05-12 06:40] dzmitry-varabei opened #20 "Cертификат RSSchool 2.0"
- Определить и прописать минимальные требования для получения сертификата
- Разделить сертификат на 2 части
   - первую часть человек получает после окончания обучения
   - вторую часть получает после окончания менторинга в одном из циклов RSSchool
- Переработать дизайн
- Что необходимо указывать на сертификате?
   - пройденные таски, интервью?
   - благодарности от других студентов?
   - фио мент

[2019-05-12 07:03] Zerovers commented on #20
1. Сдать все таски с каким-то минимальным проходным балом(по кажому таску, по финальному или в сумме),
2. ??
3. Дизайн вполне и счас
4.1 Какое направление окончил и что это успешно думаю достаточно
4.2 Таски всеравно проще держать на гитхабе или CV, всеравно придется их показывать при поиске работы

[2019-05-12 08:39] aleksei-bulgak commented on #20
`пройденные таски, интервью?` - это лично мое мнение, но сертификат - это не резюме, а просто показатель оконченных курсов. Он сам по себе является подтверждением того, что студент сделал все, что входило в задачи курса.

`благодарности от других студентов?` -  в бытность работы в ипаме была прикольная штука как heroes portal. и там можно было оставлять благодарности коллегам в виде бейджиков. мож

[2019-05-12 09:04] dimadk24 commented on #20
1. Нужно решить, формировать минимальный порог на основании каждого таска или в целом по скору. Если в целом по скору, тогда можно сделать хуже один таск, зато лучше другой и все равно получить сертификат. Сейчас даже если ты все таски сделал отлично, кроме одного, ты не получишь сертификат.
2. То есть получается будет сертификат студента и сертификат ментора?
3. Предлагаю для ТОП 3 студентов доба

[2019-05-12 10:00] aleksei-bulgak commented on #19
Честно признаться у нас в рамках курса было мало про тестирование кода. Просто в рамках задания было указано что код должен быть покрыт тестами.
Но проблема в том, что многие не представляют как правильно писать тесты, какие кейсы нужно покрывать тестами, что нужно не только success кейсы писать, но и fail cases, что каждая функция в коде должна быть покрыта минимум тремя тестами(это уже мое лично

[2019-05-12 13:54] uniorunr commented on #20
1. Имя ментора (либо имя и контакт)  -  хорошая идея. Это будет что-то типа референса.

И если студент захочет показать этот сертификат при прохождении интервью на работу, то у нанимателя будет возможность связаться с ментором и уточнить у него по поводу этого студента.

2. Думаю сертификат должен выдаваться по общему скору. Плюс дополнительные требования по важным таскам.

Например: сертификат вы

[2019-05-12 14:29] Shastel commented on #20
1. Имя ментора довольно бесполезно, так как мы не хотим ранжировать студентов по ментору.
2. Сертификат можно выдавать учитывая сколько процентов людей набрали баллы, топ 60% получают сертификат.
3. Медали отличная идея, но я предлагаю увеличить количество: 1 золото, 2 серебра и 3 бронзы

[2019-05-12 14:32] Shastel commented on #19
Просто требовать ковередж 60% и возложить на ментора контроль логичности этого всего?

[2019-05-12 14:58] aleksei-bulgak commented on #19
К сожалению на личном опыте знаю, что покрытие даже 80% не гарантирует того что все важные кейсы покрыты и что тесты нормальные

[2019-05-13 10:02] cathzetjo commented on #20
1. **Баллы** - очень субъективная вещь и личное видение каждого конкретного ментора. Поэтому выдача сертификата в зависимости от максимального скора по школе - это не совсем объективно и это переменная величина от набора к набору.
Сертификат логично может получить студент, завершивший все таски к примеру с минимум 50%  от скора по каждому из тасков. Тогда условия получения сертификата меняться не

[2019-05-14 09:46] auseika commented on #20
Хацелася б каб сертыфікат неяк адлюстроўваў тое, як чалавек працаваў на курсах. Балы - поўная абстракцыя, іх нельга пісаць туды, ясная справа. Пазіцыя ў скоры таксама можа быць даволі ўмоўнай, з маленькай абсалютнай розніцай (у балах) для студэнтаў, якія знаходзяцца праз 10-20 пазіцый.

Рашэннем можа быць сістэма ачывментаў - студэнтам можна выдаваць бэджы за тое, што яны юзаюць добрыя практыкі/зд

[2019-05-14 11:57] cathzetjo commented on #20
На мой взгляд это похоже в итоге на что-то типа - сертификат мы конечно выдали, но результаты у студента по сравнению с другими  средненькие, так что смотрите сами брать или не брать на работу))
Отражать в сертификате стоит как мне кажется позитивную информацию - бейджы весьма неплохое и нейтральное решение.

[2019-05-15 08:08] sonic-interlock commented on #18
имхо, сперва лучше разобраться зачем нужны оценки (и нужны ли вообще), а потом уже отталкиваться от этого

[2019-05-15 13:04] davojta commented on #20
Свои 5 копеек

1) выдавать сертификат за
- минимальные таски - интервью у ментора, презентация, финальная таска и таски 3 этапа (коллективный хакатон + одна таска с фреймворком)
- учитывать минимальное значение скора - гдето 60% от максимального. Тут можно каждый набор варьирвать от максимального бала на курсе

2) указывать ментора - хорошая идея. + еще отзыв ментора можно опционального отображать

[2019-05-15 13:25] davojta commented on #19
Мне кажется что тесты - это признак талантливости студента \ его отличительности

То есть это дополнительное требование, задача со звездочкой. В текущую программу 2 этапа тестирование юнитами не влазит. Может на 3 внести? И все задачи там уже должны будут покрываться тестами?

То есть
2 этап - просто тесты, какие работают - ментор подправляет, если есть желание, студент сам разбирается
3 этап - уж

[2019-05-15 13:29] davojta commented on #18
@sonic-interlock так вроде ж понятно зачем

- один из способов оценки и самоконтроля знаний
- способ мотивации студентов
- способ отбирать студентов в этапы \ лабу Епама \ советовать в другие конторы
- понятный способ сбора фидбека о задании (менторы понимают что такое отметка, студенты понимают и организаторы понимают)

[2019-05-15 13:31] davojta commented on #17
Доки можно было бы вести как гитбук. Можно сделать таску вместо ментор дашборда про документацию, поиск на фреймворке например )

[2019-05-17 16:20] sonic-interlock commented on #18
@davojta отнюдь, раз уж вопросы возникают :)

Если по теме, то мне кажется, что оценивать работы заново будет очень сильно напряжно и лучше будет оставить как есть. Все-таки, чтобы узнать сделана  фича или нет, ментор не нужен. А если не знаешь как делать, можно и до дедлайна с ним общаться

[2019-05-18 23:32] feugenix commented on #19
Нужна будет лекция по тестам. И, скорее всего, мастер класс или воркшоп, с разбором типовых ситуаций: как лучше проверить апишку, как лучше замокать данные или дом, зачем нужны setUp/setDown и тд. Иначе студенты сильно запутаются, пытаясь понять это сами.

[2019-05-20 07:33] dzmitry-varabei opened #21 "Фокус на TypeScript"
Все большее и больше менторов RSSchool используют TS на продакшн проектах.
В связи с этим предлагаю изменить учебную программу  stage#2 заменив часть лекций/заданий на аналогичные таски с использованием TypeScript

[2019-05-22 07:36] dzmitry-varabei commented on #18
Из общения с @davojta по поводу критериев оценки, на примере `piskel-animation-player.md`
[code]
Полность согласен с позицией Дениса

[2019-05-23 08:06] medinsky opened #22 "Автоматизированное тестирование тасков"
Всем привет!
Выношу на обсуждение и предложение сделать автоматическую проверку тасков.

Это будет удобно менторам и студентам.
Ментор, проверяя ваш таск может запустить тесты, если тесты не проходят - то всё, досвидания и даже проверять не надо и ему сразу по результатам наших тестов будет понятно что студент сделал.
Студент, пытаясь удовлетворить тестам, во первых, будет писать возможно более ка

[2019-05-23 08:51] aleksei-bulgak commented on #22
я понимаю что уже всех задолбал с идеей CI/CD и Travis :)
но почему бы не предложить студентам делать билды на трэвисе?
Как я понимаю результат таска всегда представляет собой pull request. и там сразу будет видно что все ок или нет

![image](https://user-images.githubusercontent.com/1677410/58239061-09b21700-7d51-11e9-9658-1d5b5096e2d8.png)

Travis это как пример. на деле есть много разных тулов

[2019-05-23 08:58] mikhama commented on #22
Ну тут еще дело в том что не все успевают написать тесты))

[2019-05-23 10:33] medinsky commented on #22
@mikhama не все успевают написать ещё основной код приложения)))

[2019-05-23 10:34] medinsky commented on #22
@aleksei-bulgak если помнишь, то вспомни какой был страх и паника у студентов этого набора когда они лекцию по MVC получили :) думаешь CI тулы им будет освоить просто?)

[2019-05-23 12:29] aleksei-bulgak commented on #22
@medinsky согласен. но на начальном этапе можно это упросить показав примерный шаблон теплейта и сделать презенташку на минут 20. но тут уже решать организаторам

[2019-05-23 12:40] lion9 commented on #22
Использовать Selenium или Puppeteer было бы крайне неплохо. Хотя бы для задач, которые повторяются. Типа CV или YouTube

[2019-07-08 07:31] dzmitry-varabei opened #23 "Правила хорошего тона студентов RSSchool"
Фидбек от ментора
[code]
- ставить Star проектам, которыми пользуетесь
- говорим спасибо в канале #gratitude или в RSSchool APP, если вам помогли
- ....

Информация будет добавлена в https://github.com/rolling-scopes-school/docs/blob/master/students.md

[2019-07-08 08:25] greatorangejuice commented on #23
Пусть тогда ментор указывает приоритетный способ связи. Думаю, что большинство всё равно общаются со студентами через мессенджеры. Плюс каждый студент хочет быть уверен в том, что PR действительно пришел и его точно проверят.

А конкретно из предложений, я бы прописал вот что:  важен шаринг знаний, то есть если студенту помогли с каким-то вопросом и он видит, что у других студентов подобные сложно

[2019-07-08 09:17] medinsky commented on #23
менторы также должны указывать предпочитаемый способ связи а также часы, когда можно ему писать, например тел. +123456789 с 9.00 до 21.00 МСК, так будет правильней

[2019-07-12 06:58] dzmitry-varabei opened #24 "Нумерация в rs code of conduct"
[code]

[2019-08-23 13:49] dzmitry-varabei commented on #23
@greatorangejuice @medinsky спасибо за советы! закинул в доки и форму для менторов

[2019-08-23 13:50] #23 closed, assigned to nobody

[2019-08-23 14:14] #10 closed, assigned to davojta

[2019-08-23 15:30] daniil-loban commented on #22
Тема сама по себе очень интересная (как и сложная) ведь даже не все что работает и проходит тесты написано качественно и CI думаю в этом случае не очень помогут.

[2019-09-06 09:31] dzmitry-varabei opened #33 "Как улучшить документацию http://docs.rs.school"
Буду рад любым комментариям, замечаниям, исправлениям

[2019-09-06 11:55] lion9 commented on #33
Регистрация в этих системах **упращает** работу HR специалистов компании EPAM. - упрощает, HR**-**специалистов

[2019-09-06 11:59] lion9 commented on #33
С вашей стороны необходимо *тольк* время и желание - только

[2019-09-06 12:02] lion9 commented on #33
Пойти на курсы английского языка до **получение** уровня - получения

[2019-09-06 12:08] lion9 commented on #33
**Discord: русский, английский**
мяркую, людзі гэтага не ўхваляць

[2019-09-06 15:54] dzmitry-varabei commented on #33
@lion9 спасибо огромное! все исправил!

[2019-09-07 14:49] cathzetjo commented on #33
Документация отличная. Подборка просто супер.
1) Без поиска сложно ориентироваться.
2) https://docs.rs.school/#/rs-school-overview?id=СЕРТИФИКАТ
заменить текст, например на :  Сертификат об успешном прохождении курсов выдается студентам, прошедшим три этапа обучения и набравшим установленное количество баллов по ключевым заданиям. Перечень заданий и планка по баллам устанавливается для каждого пот

[2019-09-07 16:28] dzmitry-varabei commented on #33
@cathzetjo спасибо за замечания и предложения! всё исправил, поиск включил!

[2019-09-10 21:40] Sannnao opened #38 "Создать\Интегрировать курс английского с программой RS school"
Идея состоит в том, что бы организовать на курсе RS School параллельное изучение\практику английского языка. Пока из идей следующее:
1. Сотрудничать со школой иностранных языков по принципу аудитория <> выгодные предложения.
2. Объединиться с некоммерческими организациями, которые проводят собрания типа English club
3. Организовать собственный курс: каждый набор в RSS встречаются люди с хорошим зн

[2019-09-17 18:46] ange2912 commented on #38
Я думаю пункты 2 и 3, особенно 3 - можно сразу и внедрять. Главное собрать подходящих людей вместе. Если летом это можно было сделать, например, в парке, то с наступлением холодов - надо искать еще и место.

[2019-09-22 09:02] #17 closed, assigned to dzmitry-varabei

[2019-09-23 12:23] #24 closed, assigned to nobody

[2019-09-25 23:49] Sijioth commented on #33
Есть вопрос по чатам в Discord. В первую очередь по следующим:
![Screen Shot 2019-09-26 at 1 09 34 AM](https://user-images.githubusercontent.com/47459465/65647039-eb616e00-e005-11e9-823c-fbb7bbfceafc.png)
\#main отсутствует в принципе, а \#programming-tasks-help уже в архиве (да и ссылка на Padawans уже, я так понимаю, не актуальна).

Далее, \#git предлагаю переместить в категорию RS2019Q3 и переи

[2019-09-27 09:25] dzmitry-varabei commented on #33
@Sijioth обновил.
Кроме второго канала materials

[2019-09-30 15:06] davojta opened #44 "обновить доки по стримингу с указанием регистрации за 2 дня"
необходимо указать порядок регистрации НОВОГО акка для стриминга

https://docs.rs.school/#/streaming?id=%d0%9a%d0%b0%d0%ba-%d0%bd%d0%b0%d1%81%d1%82%d1%80%d0%be%d0%b8%d1%82%d1%8c-%d0%b8%d0%bd%d1%81%d1%82%d1%80%d1%83%d0%bc%d0%b5%d0%bd%d1%82%d1%8b-%d0%b4%d0%bb%d1%8f-%d1%81%d1%82%d1%80%d0%b8%d0%bc%d0%b8%d0%bd%d0%b3%d0%b0

[2019-09-30 15:07] davojta commented on #44
также нужно обновить ссылку на новый канал школы

[2019-10-07 06:01] #44 closed, assigned to davojta

[2019-10-17 11:49] dzmitry-varabei opened #46 "Отдельный курс по React Native"
- TBD

[2019-10-17 11:50] dzmitry-varabei opened #47 "Отдельный курс по TS/Fullstack"
Идеи:
- месячный курс наподобие http://learn.javascript.ru/courses/nodejs
- ожидается, что слушатели уже знают JS

[2019-10-17 17:58] auseika commented on #46
1. Expo нават не разглядаць, гэта тупік, з яго давядзецца валіць рана ці позна, і лепей увогуле не пачынаць ў такім выпадку.
2. Зрабіць фокус на асаблівасці кросплатформенасці. Не ўсе рэчы працуюць аднолькава на iOS/Android. Тут праблема можа быць з тым, што не ва ўсіх ёсць мак/іпхон каб гуляцца. `KeyboardAvoidingView`, цені етц.
3. Абавязкова патлумачыць, што адбываецца пад капотам, што такое Met

[2019-10-18 11:07] dzmitry-varabei opened #48 "Единый JavaScript Style Guide для всех тасков Stage#2"
Комментарии приветствуется

[2019-10-18 11:09] alQlagin commented on #48
собственно думаю airbnb достаточно https://github.com/airbnb/javascript#table-of-contents

[2019-10-25 13:15] dzmitry-varabei commented on #46
UPDATE:
- Приблизительная дата старта 1 февраля
- Продолжительность курса - 3 месяца
- 2 лекции в неделю
- Формат - онлайн, через GoToWebinar
- По ходу обучения студенты будут делать социальный проект
- По окончанию обучения в EPAM Минск возможно трудоустройство для  5-7 студентов
- Требования к студентам: законченный RSSchool stage#2 + react basics

[2019-10-25 14:32] pliashkou commented on #46
Вось прыкладны спіс заняткаў на 6-тыднёвы курс, кожны занятак па 1.5-2 гадзіны.
1. Installation, Components, TypeScript, Expo, Metro Bundler
2. Navigation, navigation stack, styling
3. Redux, Structure, state management, debugging
4. Forms, Validation
5. Rest APi, Firebase
6. WebSockets, GraphQL
7. Animations
8. React Native Community plugins overview
9. Building, signing, releasing to App Store &

[2019-10-28 10:01] dzmitry-varabei opened #49 "Улучшение системы менторства в RSSchool"
Всем привет!

Собираю идеи как можно сделать систему менторства в RSSchool лучше/интереснее/эффективнее/понятнее и т.д.

Актуальные темы:
- [совместный менторинг](https://github.com/rolling-scopes/rsschool-app/issues/172)
- [открытый профиль](https://github.com/rolling-scopes/rsschool-app/issues/185) (такой, чтобы было можно приаттачить в CV, пошарить на подобие linkedin, и т.д.)
- как более эффек

[2019-11-08 08:51] dzmitry-varabei opened #51 "Алгоритм взаимодействия ментор-студент во время проверки задания"
## Алгоритм взаимодействия ментор-студент во время проверки задания:

1. Студент выполняет задание в приватном репозитории
2. Студент создает и оформляет Pull Request.
    - Правила оформления PR указаны [ниже](https://docs.rs.school/#/stage2?id=%d0%9e%d0%bf%d0%b8%d1%81%d0%b0%d0%bd%d0%b8%d0%b5-pull-request-%d0%b4%d0%be%d0%bb%d0%b6%d0%bd%d0%be-%d1%81%d0%be%d0%b4%d0%b5%d1%80%d0%b6%d0%b0%d1%82%d1%8c-

[2019-11-08 11:01] dzmitry-varabei commented on #18
По результатам обсуждения оформил https://github.com/rolling-scopes-school/docs/issues/51

[2019-11-08 11:01] #18 closed, assigned to nobody

[2019-11-08 11:01] #33 closed, assigned to nobody

[2019-11-08 11:05] dzmitry-varabei commented on #38
@Sannnao опиши плиз концепт текуших RS English club. Добавим в документацию школы в раздел [Типы занятий](https://docs.rs.school/#/stage1?id=%d0%a2%d0%b8%d0%bf%d1%8b-%d0%b7%d0%b0%d0%bd%d1%8f%d1%82%d0%b8%d0%b9)

[2019-11-08 14:27] Sannnao commented on #38
На данный момент встречи проходили в формате создания предложений с выбранным словом каждым участником и потом по очереди каждый участник озвучивал предложение. При необходимости обсуждались ошибки. Этот контент был придуман для пилотного запуска первых встреч и в дальнейшем возможно придумается больше разнообразного и интересного контента!

[2019-11-08 14:37] dzmitry-varabei commented on #38
@Sannnao хорошо, спасибо!

[2019-11-08 17:54] irinainina commented on #51
Немножко дополнительных пунктов, может что-то покажется в тему )
1. В описание PR можно добавить демо приложения, которое студент размещает у себя на гитхабе в приватном репозитории, а затем деплоит на netlify.
2. Уточнить должен ли студент уведомлять ментора о том, что выполнил таск. Если да, то в какой форме и в какие сроки. Если нет, об этом тоже желательно сказать.
3. Доработка таска после дед

[2019-11-13 10:35] dzmitry-varabei opened #52 "CodeJam PiskelClone Refactoring"
Тут собираем идеи/гайдлайны/принципы/ по которым студенты должны будут отрефакторить код PiskelClone (или использовать при решении связанных с ним codejam тасков)

[2019-11-14 10:27] #51 closed, assigned to nobody

[2019-11-27 06:28] #48 closed, assigned to nobody

[2019-12-06 11:09] dzmitry-varabei opened #54 "RS School Webpack Config"

[2019-12-17 21:43] dzmitry-varabei opened #55 "Тут собираем идеи как можно улучшить сross-check процесс"

[2019-12-18 09:11] Musmen commented on #55
Предложение - предоставить проверяющим текст PR студента, можно без коммитов - просто текст. Будет видна его самооценка. Возможно описан дополнительный функционал и другие нюансы, которые не заметны с первого взгляда. Всем должно быть проще.

[2019-12-18 15:09] irinainina commented on #55
- После окончания кросс-чека таска Portfolio создать issue для апелляций по кросс-чеку и выложить ссылку на него в анонсах. В этом issue студенты, у которых результаты самооценки и кросс-чека отличаются на 10-20% и больше, могут попросить пересмотреть баллы за их работу. Для этого они выкладывают ссылку на страницу со своим проектом, ссылку на публичный репозиторий с проектом (чтобы можно было убе

[2019-12-24 08:28] dermeister opened #56 "[Cross-Check Portfolio] - dermeister"
1. Deploy - https://jovial-jepsen-269ba4.netlify.com/
2. Repo - https://github.com/dermeister/portfolio
3. 100 баллов - все сделано согласно заданию
4. Балл за cross-check из Score - 88

[2019-12-24 10:32] amoebiusss commented on #56
Hi, here's my evalution.

### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **±** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown. — **The panel expands only by clicking the text itself, not on any place of the panel

[2019-12-24 11:50] amoebiusss commented on #56
Hi, here's my evaluation.

### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **±** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown. — **The panel expands only by clicking the text itself, not on any place of the pane

[2019-12-24 13:46] moiseenokv commented on #56
Оценка по кросс-чеку "Portfolio" не была выставлена, хотя все 3 студента дали свое ревью.
Deploy - https://moiseenokv.github.io/portfolio/
Repo - https://github.com/moiseenokv/portfolio/
65-70 баллов: есть недочеты по респонсиву

[2019-12-24 13:47] amoebiusss commented on #56
@moiseenokv привет! оформи, пожалуйста, отдельным issue

[2019-12-24 13:56] moiseenokv opened #57 "[Cross-Check Portfolio] - moiseenokv"
1) https://moiseenokv.github.io/portfolio/
2) https://github.com/moiseenokv/portfolio/
3) max score (64/100
- Minuses:
   - 1. Failure to adapt page for both desktop and mobile sizes may result in losing up to 40 points. **-30**
  - 2. No links to to my private social profiles **- 3**
  - 3. No animation in education block **-3**

4) 0

[2019-12-24 17:27] AnzhelaMartsinovich commented on #55
Можно оставить последнее слово за ментором, т.е. после проверки работы студентами, вы с ментором проходитесь по этим пунктам. Если не согласны с пунктом, то объясняете почему, если со всем согласны - то просто супер! И после такого подведения итогов, оценка выставляется ментором.

Кроме того, при выставлении оценки и описании пунктов что в работе ни так, хотелось бы возможности прикреплять скриншо

[2019-12-25 12:10] ghost opened #58 "Баг в списке работ на cross-check fancy-weather"
![image](https://user-images.githubusercontent.com/47753351/71445163-83b3df80-2728-11ea-9a7e-807cf621a4fb.png)
В списке проверок формально 2 студента, т.к. вторая ссылка дублирует работы одного и того же человека, причем неверно указана ссылка -  не на деплой, а на ветку в приватном репозитории.

[2019-12-25 19:35] nextdesusu opened #59 "[Cross-Check Portfolio] - nextdesusu"
1. https://stupefied-edison-c78870.netlify.com/
2. https://github.com/nextdesusu/portfolio
3. Оцениваю работу примерно в 90 баллов, каких то значимых недочетов не нашел, но мне кажется они есть, плюс не уверен в мобильной версии.
4. Текущий балл 66.

[2019-12-26 09:36] amoebiusss commented on #59
Hello!

### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **+** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown.
- **+** Items in list wrapped with HTML list (ul or ol).
- **+** Smooth animation.
- **+** Interactive

[2019-12-26 10:03] amoebiusss commented on #57
Hello! In my opinion, the evaluation is as follows:

### **Desktop**
- **+** Avatar should be image in assets folder.
- **±** All links provided should navigate to real profiles on Social Networks. — **Only one "real" link provided**
- **+** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown.
- **+** Items in list

[2019-12-26 10:26] moiseenokv commented on #57
Hello! Thanks for your time and comments. I agree with this evaluation mark - 59 points of common score.
About remarks:
**In your code, href attributes are set for <a> elements with cta class . And then you change it from js in a click event listener (window.location.href='projects.html';) — this logic is not quite clear.**
while clickinhg on tag **a** with class cta -the main feature is to set in

[2019-12-26 11:29] Artur1986ad opened #60 "[Cross-Check Portfolio] - Artur1986ad"
1. https://artur1986ad.github.io/My-portfolio/
2. https://github.com/Artur1986ad/My-portfolio
3. Данный task проверили 3 студента. И я в том числе тоже проверил у 3 студентов работу, и при этом в score 0 баллов . Но по отзывам студентов там не может быть 0 . Скорее всего произошел сбой, либо объясните почему в score 0 баллов
4. 0 баллов.

[2019-12-26 11:51] Juliya-Potapchuk opened #61 "[Cross-Check Portfolio] – Juliya-Potapchuk"
1) https://juliya-potapchuk.github.io/portfolio/
2) https://github.com/Juliya-Potapchuk/portfolio
3) Минусы:
-Слайдер не бесконечный – 5 баллов
-Недоделанный адаптив страницы под моб. устройства – 7 баллов
-Нет перехода на страницу  ‘repair-design-project’ – 5 баллов
-Неплавная анимация – 5 баллов
-Аватар должен лежать в папке  ‘assets’– 5 баллов
Все требования по слайдеру были выполнены, за исклю

[2019-12-26 13:52] apalchys commented on #60
@Artur1986ad У тебя 0 баллов, потому что у тебя проверена только одна работа из-за бага который был в системе.
Посмотри пожалуйста  мои анонсы от 12 Декабря в Discord #announcements, как пересабмитать ревью. Если будут вопросы, пиши мне в личные в Discord (apalchys)

[2019-12-26 18:28] Dziazhurny opened #62 "[Cross-Check Portfolio] - Dziazhurny"
1. https://dziazhurny.github.io/Portfolio/
2. https://github.com/Dziazhurny/Portfolio
3. Minuses:
Education panel:
 (-3) Smooth animation.
Projects carousel
 (-6) Interactive image in description (or whole description). When clicked, you should be navigated to project page.
Projects swiper
 (-3) Project image should have all available width.
 (-6) When the description button is clicked, it should

[2019-12-26 19:28] #62 closed, assigned to nobody

[2019-12-27 08:01] #56 closed, assigned to nobody

[2019-12-27 09:51] amoebiusss commented on #61
Hi! Nice work, here's my evaluation:

### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **+** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown.
- **+** Items in list wrapped with HTML list (ul or ol).
- **+** Smooth a

[2019-12-27 10:54] Juliya-Potapchuk commented on #61
Здравствуйте! Спасибо большое за оценку и за полезные замечания:)

[2019-12-27 11:10] amoebiusss commented on #56
@dermeister hi! i think closing the issue will stop reviewing process, are you sure?

[2019-12-27 20:22] gitmaxx opened #63 "[Cross-Check Portfolio] – 'gitmaxx'"
1. https://mx-portfolio.netlify.com/
2. https://github.com/gitmaxx/portfolio
3. Оценка: 98 баллов.  Штраф 2 балла за отсутствие плавной анимации
4. 75 баллов

[2019-12-30 13:49] amoebiusss commented on #63
Hello! Here's my evaluation:

### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **+** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown.
- **+** Items in list wrapped with HTML list (ul or ol).
- **-** Smooth animation

[2019-12-30 14:13] gitmaxx commented on #63
Thanks a lot! :)

[2019-12-31 09:32] Qairkhan opened #64 "[Cross-Check Portfolio] - 'Qairkhan'"
1.  https://qairkhan.github.io/portfolio/
2. https://github.com/Qairkhan/portfolio
3. Оценка: ~ 85 . отсутствует описание
4. 0 - видимо, были проблемы с сабмитами

[2019-12-31 10:28] Ambrance commented on #64
Max 100
-5 баллов за просрочку дедлайна
-15 баллов суммарно за все видимые недостатки по верстке на десктопе и мобильном (скролл, выпадание контента, отсутствие центровки страниц проектов)
-5 баллов за не меняющуюся надпись на кнопке "show/hide description"
-5 отсутствие описания проектов
-20 баллов за copy/paste
Итог: 50

[2020-01-02 13:17] Qairkhan commented on #64
Ok

[2020-01-02 13:56] Qairkhan commented on #64
Thx

вт, 31 дек. 2019 г., 13:28 Inesa Bobryk <notifications@github.com>:

[2020-01-03 10:53] amoebiusss commented on #64
### **Desktop**
- **+** Avatar should be image in assets folder.
- **+** All links provided should navigate to real profiles on Social Networks.
- **+** Interactive expansion panel. Should be inactive on render. When press on any place over the line 'Education', the list should be shown.
- **+** Items in list wrapped with HTML list (ul or ol).
- **+** Smooth animation.
- **+** Interactive arrows l

[2020-01-10 21:27] SkynerSany opened #65 "[Cross-Check Fancy-Weather] - SkynerSany"
1. https://skynersany.github.io/weather/
2. Верстка прототипа приложения не адаптивная и не резиновая - 20
В блоке 4 не отображаются широта и долгота - 10
При изменении города не меняется дата и время - 20
Не реализована возможность голосового поиска - 20
Смена языка реализована на 50% - 10
3. 0

[2020-01-11 07:58] Victoria-Butrym opened #66 "[Cross-Check Fancy-Weather] - 'Victoria-Butrym'"
**1.** https://confident-goodall-1aae22.netlify.com/
**2.**
 - Реализован поиск. Если в поиске вводится корректный запрос, все данные на странице, в том числе дата и время, обновляются в соответствии с указанным в поиске населённым пунктом: -30 (дата и время не обновляются)
- фоновые изображения генерируются с учетом поры года, времени суток, текущей погоды:  -10 (генерируется только с учетом мест

[2020-01-11 10:27] Alex89889 opened #67 "[Cross-Check Fancy-Weather] - 'Alex89889'"
1) https://alex89889.github.io/fancy-weather/
2)Не реализована возможность голосового поиска по названию населённого пункта – 20 баллов
Не реализован перевод текста страницы (en/ru/be) – 20 баллов
Не реализована возможность переключения единиц измерения температуры – 10 баллов
Итого: - 50 баллов
3) 73

[2020-01-11 11:02] bacila1990 opened #68 "[Cross-Check Fancy-Weather] - 'bacila1990'"
1) https://nostalgic-dijkstra-95628e.netlify.com
2) Не реализован перевод текста страницы (en/ru/be) – 20 баллов
3) 67

[2020-01-11 23:39] AnzhelaMartsinovich opened #69 "[Cross-Check Fancy-Weather] - 'AnzhelaMartsinovich'"
1) Ссылка на диплой вашего проекта
https://martsinovich-anzhela.netlify.com/

2) Оценка в результате самопроверки студентом
Не реализован перевод текста страницы (en/ru/be) – 20 баллов
Присутствуют ошибки в консоли на любом этапе работы приложения – 10 баллов
Итого: 180

3) Балл за cross-check из вашего Score - 165

[2020-01-12 12:30] Ambrance commented on #65
Ваш максимум: 210 - 80 = 130
Еще ошибки:
Какие-то астрономические величины температур при поиске - 5 баллов
![fancy-weather](https://user-images.githubusercontent.com/25725313/72218736-48e6df80-354f-11ea-843a-51d90ee82edb.png)
При генерации изображения учитывается только город и это только при загрузке приложения (при поиске просто рандомное изображение) - 5 баллов
Ошибки в консоли при отправке в

[2020-01-12 12:51] Ambrance commented on #66
Ваш максимум: 210 - 95 = 115
Еще ошибки:
При загрузке приложения в карте Брест, в заголовке Минск; название месяца не в коротком формате - 5 баллов
![Fancy Weather - API](https://user-images.githubusercontent.com/25725313/72218925-7f255e80-3551-11ea-8d66-de82c12d5d79.png)
Координаты местоположения не в градусах/минутах - 5 баллов
115 - 10 = 105 баллов
В работе хорошая адаптивная верстка (не хватае

[2020-01-12 13:21] Ambrance commented on #67
Ваш максимум: 210 - 50 = 160 баллов
Еще ошибки:
При светлом фоновом изображении совершенно не видно белого текста (проблема решается добавлением text-shadow или добавлением полупрозрачного сплошного фона для блоков с текстом) - 3 балла
![Fancy Weather](https://user-images.githubusercontent.com/25725313/72219440-31abf000-3557-11ea-957e-55c184a43122.png)
При поиске город/страна выводится на русском

[2020-01-12 13:49] Victoria-Butrym commented on #66
Thanks for the feedback :)

[2020-01-12 14:09] Ambrance commented on #68
Ваш максимум: 210 - 20 = 190 баллов
Еще ошибки:
На белом фоне не видно текст белого цвета (лучше добавить тень для текста или полупрозрачный фон для блоков с информацией) - 3 балла
![Document](https://user-images.githubusercontent.com/25725313/72219579-b0555d00-3558-11ea-8648-335ef72e1d3c.png)
Координаты не в градусах/минутах (просто округление до двух знаков после запятой) - 5 баллов
Значение еди

[2020-01-12 14:49] Ambrance commented on #69
Ваш максимум: 210 - 30 = 180 баллов
Еще недочет:
В переключателе единиц измерения температуры если дважды нажать на кнопку Цельсий или Фаренгейт, всё равно переключается на противоположные единицы измерения, но стили активной кнопки остаются те же (как я поняла классы animate и active должны перемещаться вместе) - 3 балла
В селекте русский язык, хотя приложение полностью на английском (кроме карты

[2020-01-12 15:00] AnzhelaMartsinovich commented on #69
@Ambrance Спасибо за проверку! Особенно за найденный косяк в изменении температур, так как и сама этого не замечала и другие проверяющие не нашли.

[2020-01-12 16:40] vladimir-drachuk opened #70 "[Cross-Check Fancy-Weather] - 'vladimir-drachuk'"
1) Ссылка - https://vladimir-drachuk.github.io/fancy-weather/
2) - есть ошибки при поиске (не продумал согласование API определения местоположения и API прогноза погоды, например при введении в строку слова "Рим" - API местоположения ссылается на итальянский Рим в то время  как прогноз погоды приходит из какого-то российского города) - срабатывает крайне редко, нашел только один город) - 15;
- typ

[2020-01-12 18:55] Ambrance commented on #70
Ваш максимум: 210 - 20 = 190
(Еще один город - Брест, меня определили во Францию)
![fancy-weather (2)](https://user-images.githubusercontent.com/25725313/72223482-5a94ab00-3580-11ea-8fc5-bf5b7f365ed9.png)
Еще недочеты:
чуть подпрыгивает контент при смене языка (если убрать height: 100vh у .wrapper, то проблема исчезает; возможно стоит подобрать дополнительно минимальную фиксированную высоту для эт

[2020-01-12 19:28] vladimir-drachuk commented on #70
Спасибо за ревью))

[2020-01-13 10:05] jetalai3 opened #71 "[Cross-Check Fancy-Weather] - 'jetalai3'"
1.Ссылка на диплой вашего проекта
https://cranky-carson-5bc711.netlify.com/

2.Верстка только под мобильники -15
Итого 195

3.Балл за cross-check из вашего Score - 162

Один из проверяющих каким-то образом не сумел правильно открыть приложение и поставил 100 баллов из 210 возможных.

[2020-01-13 11:59] bacila1990 commented on #68
Спасибо за проверку!

[2020-01-13 15:18] Ambrance commented on #71
Ваш максимум: 210 - 15 = 195
Еще ошибки:
При загрузке приложения местоположение показывает "Брест, Франция" - 5 баллов
При поиске какой бы запрос не написала в белорусский Брест попасть так и не удалось - всё равно Франция (но если присмотреться, то на секунду всё же показывает Беларусь - 3 балла
Ошибки в консоли при отправке пустой строки в поиск - 5 баллов
В запросе на изображение не учитывается

[2020-01-14 13:35] #47 closed, assigned to nobody

[2020-01-15 05:38] jetalai3 commented on #71
В запросе на изображение не учитывается погода - 5 баллов
Погода в запросе учитывается.
http://prntscr.com/qnutxl

[2020-01-15 10:01] Ambrance commented on #71
![Снимок экрана от 2020-01-15 12-58-21](https://user-images.githubusercontent.com/25725313/72424446-129ba100-3797-11ea-9894-5b5a6f1bdb9f.png)
При загрузке приложения не учитывается*

[2020-01-18 19:34] #64 closed, assigned to nobody

[2020-01-18 19:35] #59 closed, assigned to nobody

[2020-01-18 19:36] #60 closed, assigned to apalchys

[2020-01-18 19:36] #63 closed, assigned to nobody

[2020-01-18 19:36] #61 closed, assigned to nobody

[2020-01-18 19:37] #58 closed, assigned to nobody

[2020-01-18 19:37] #57 closed, assigned to nobody

[2020-01-18 19:43] #65 closed, assigned to nobody

[2020-01-18 19:43] #71 closed, assigned to nobody

[2020-01-18 19:44] #70 closed, assigned to nobody

[2020-01-20 12:45] Christopher-0118 opened #72 "[Cross-Check Fancy-Weather] - 'Christopher-0118'"
1. https://brave-curie-d28cbd.netlify.com/
2. Оценка в результате самопроверки студентом:
ошибка верстки. Один блок не стал на место, поэтому перекрывает другой -5.
т.к. реализован только базовый уровень максимальный балл 80 баллов
Итого: 75 баллов
3. 0 баллов
У меня не выставлена оценка по кроссчеку потому что ждала, когда третий студент мне ответит и задеплоит свою работу, чтоб я могла её провер

[2020-02-29 14:10] amoebiusss opened #93 "[Translation] Angular course"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/angular-course.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/angular-course.md)

[2020-02-29 14:12] amoebiusss opened #94 "[Translation] Employment"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/employment.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/employment.md)

[2020-02-29 14:13] amoebiusss opened #95 "[Translation] Final task"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/final-task.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/final-task.md)

[2020-02-29 14:14] amoebiusss opened #96 "[Translation] First home task"
Translate the following issue:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/first-home-task.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/first-home-task.md)

[2020-02-29 14:15] amoebiusss opened #97 "[Translation] Fix typo"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/fix-typo.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/fix-typo.md)

[2020-02-29 14:16] amoebiusss opened #98 "[Translation] How to enroll"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/how-to-enroll.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/how-to-enroll.md)

[2020-02-29 14:17] amoebiusss opened #99 "[Translation] JS FE course"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/js-fe-course.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/js-fe-course.md)

[2020-02-29 14:18] amoebiusss opened #100 "[Translation] Node.js course"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/nodejs-course.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/nodejs-course.md)

[2020-02-29 14:19] amoebiusss opened #101 "[Translation] React course"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/react-course.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/react-course.md)

[2020-02-29 14:20] amoebiusss opened #102 "[Translation] Chats"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/rs-school-chats.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/rs-school-chats.md)

[2020-02-29 14:21] amoebiusss opened #103 "[Translation] Stage 1"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/stage1.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/stage1.md)

[2020-02-29 14:21] amoebiusss opened #104 "[Translation] Stages"
Translate the following article:
[https://github.com/rolling-scopes-school/docs/blob/master/docs/stages.md](https://github.com/rolling-scopes-school/docs/blob/master/docs/stages.md)

[2020-02-29 15:03] xmelsky commented on #95
Translation in progress...

[2020-02-29 15:13] amoebiusss commented on #93
wip

[2020-02-29 15:19] amoebiusss commented on #101
wip

[2020-02-29 17:57] xmelsky commented on #100
Translation in progress...

[2020-04-01 11:16] HyBeard opened #110 "[Cross-Check Songbird] - HyBeard"
Доброго времени суток. Работа не была проверена из-за пропуска дедлайна, однако имелись некоторые договоренности с @davojta :
![image](https://user-images.githubusercontent.com/47788411/78130869-c3bee880-7422-11ea-9069-181441df6174.png)

Деплой - https://songbeard-react.netlify.com
Самооценка в PR: https://github.com/HyBeard/songbird/pull/1

[2020-04-06 11:39] #72 closed, assigned to nobody

[2020-04-06 11:39] #69 closed, assigned to nobody

[2020-04-06 11:39] #68 closed, assigned to nobody

[2020-04-06 11:39] #67 closed, assigned to nobody

[2020-04-06 11:39] #110 closed, assigned to davojta

[2020-04-06 11:40] #66 closed, assigned to nobody

[2020-04-20 23:09] hallovarvara commented on #97
done

[2020-05-11 08:08] #95 closed, assigned to nobody

[2020-05-11 08:08] #100 closed, assigned to nobody

[2020-06-04 19:56] #93 closed, assigned to nobody

[2020-06-04 19:56] #94 closed, assigned to nobody

[2020-06-04 19:56] #96 closed, assigned to nobody

[2020-06-04 19:56] #97 closed, assigned to nobody

[2020-06-04 19:56] #98 closed, assigned to nobody

[2020-06-04 19:56] #99 closed, assigned to nobody

[2020-06-04 19:56] #101 closed, assigned to nobody

[2020-06-04 19:56] #102 closed, assigned to nobody

[2020-06-04 19:56] #103 closed, assigned to nobody

[2020-06-04 19:56] #104 closed, assigned to nobody

[2020-06-25 09:21] dzmitry-varabei opened #135 "RS School stage#5"
Цель - подготовка специалистов уровня middle.
Требование к студентам: успешное прохождение stage#2, одного из фреймворков, курса по nodejs

Идеи:
1) Командная работа.
    - Как т/з могут быть взяты финальные проекты https://medium.com/design-spot/terrametrics-project-dc86c3bc20df
    - разработка социальных проектов
    - несколько студентов можно привлечь к разработке RS APP
2) Дискуссии вместо л

[2020-09-06 20:41] masakouski opened #139 "fix-typo: short track info"
Следует исправить даты шорт-трека, так как сейчас там указан 2019 год.
https://docs.rs.school/#/stages

[2020-09-12 13:02] aplatkouski opened #142 "Использование beta.2 версии гайда для именование коммитов"
Вопрос: использование beta-версии является осознанным выбором или "неактуализированной" ссылкой?

См. документ [git-convention.md][]
[code]

[git-convention.md]: https://github.com/rolling-scopes-school/docs/blob/master/docs/git-convention.md

[2020-09-13 13:06] NiyazGaripov opened #144 "Обновить ссылку на пример задания."
В первом пункте раздела [Алгоритмические задания](https://docs.rs.school/#/stage1?id=%d0%90%d0%bb%d0%b3%d0%be%d1%80%d0%b8%d1%82%d0%bc%d0%b8%d1%87%d0%b5%d1%81%d0%ba%d0%b8%d0%b5-%d0%b7%d0%b0%d0%b4%d0%b0%d0%bd%d0%b8%d1%8f) имеется [ссылка](https://github.com/siarhei-smantsar/love-triangle) на пример задания. При переходе по данной ссылке выполняется переход на 404 страницу.
Так как сам не нашёл корре

[2020-09-17 16:22] dzmitry-varabei commented on #144
Привет! Спасибо за issue
Можешь добавить ссылку на https://github.com/AlreadyBored/basic-js

[2020-09-20 08:00] #144 closed, assigned to nobody

[2020-09-21 20:41] abadire opened #149 "Инструкция по деплою"
По [ссылке](https://docs.rs.school/#/stage2?id=%d0%9a%d0%b0%d0%ba-%d1%81%d0%b4%d0%b5%d0%bb%d0%b0%d1%82%d1%8c-%d0%b4%d0%b5%d0%bf%d0%bb%d0%be%d0%b9-%d0%b7%d0%b0%d0%b4%d0%b0%d0%bd%d0%b8%d1%8f-%d0%b8%d0%b7-%d0%bf%d1%80%d0%b8%d0%b2%d0%b0%d1%82%d0%bd%d0%be%d0%b3%d0%be-%d1%80%d0%b5%d0%bf%d0%be%d0%b7%d0%b8%d1%82%d0%be%d1%80%d0%b8%d1%8f-%d1%88%d0%ba%d0%be%d0%bb%d1%8b) инструкция по деплою из приватного реп

[2020-09-23 11:52] dzmitry-varabei commented on #149
@abadire отличное замечание! удалил этот пункт! спасибо!

[2020-09-23 11:53] #149 closed, assigned to nobody

[2020-09-23 11:53] #142 closed, assigned to nobody

[2020-09-23 11:54] dzmitry-varabei commented on #142
@aplatkouski спасибо! ссылку исправил!

[2020-09-23 11:54] #49 closed, assigned to nobody

[2020-09-23 11:55] #38 closed, assigned to nobody

[2020-09-23 11:55] #22 closed, assigned to nobody

[2020-09-23 11:55] #46 closed, assigned to nobody

[2020-09-23 11:55] #54 closed, assigned to nobody

[2020-09-23 11:56] #52 closed, assigned to nobody

[2020-09-23 11:56] #21 closed, assigned to nobody

[2020-10-04 06:10] dzmitry-varabei opened #150 "Этап самоподготовки перед стартом основного JS/FE курса"
![image](https://user-images.githubusercontent.com/2429680/95008273-a6104d00-0618-11eb-9bdf-9cc4c354aa8c.png)
![image](https://user-images.githubusercontent.com/2429680/95008277-b6282c80-0618-11eb-9ea6-98c1061a36f1.png)

[2020-10-04 06:29] dzmitry-varabei opened #151 "Проверка заданий через пул менторов"
![image](https://user-images.githubusercontent.com/2429680/95008587-6f880180-061b-11eb-9a4f-0314afca62d9.png)

[2020-10-06 14:10] dzmitry-varabei commented on #151
Процесс букинга менторов в epam QA lab https://videoportal.epam.com/video/8BLqokYG7Q9MM0PJA2Gb

[2020-10-12 07:29] dzmitry-varabei opened #155 "Дизайн макета для 2021Q1"
Новый макет для замены singolo/shelter.
Тематика: природа, экология.

![image](https://user-images.githubusercontent.com/2429680/95717233-ee5cea00-0c6c-11eb-81b5-42d3aac077f9.png)

[2020-10-12 07:31] dzmitry-varabei commented on #155
@macroG0D Пиши, как будут новости. спасибо!

[2020-10-12 12:10] macroG0D commented on #155
@dzmitry-varabei Обсудили основные детали с @sergeyshalyapin. Ожидаю ТЗ которое при первой возможности передам в работу своим дизайнерам.

[2020-10-26 08:52] dzmitry-varabei opened #157 "План менторинга в 2020Q3."
Ниже примерное расписание и план менторинга в stage#2 2020Q3.
Буду рад вашим идеям на тему "как потратить время ментора наиболее эффективно".

План менторинга необходим, чтобы студенты и менторы знали как построить свое общение.

Актуальная версия плана тут -
https://github.com/rolling-scopes-school/mentoring/blob/master/JS-FE-2020Q3/mentoring-plan.md

### Изменения в RS APP
Изменения направлены н

[2020-10-27 09:26] Pulya10c commented on #157
1.Каждому ментору создать документ(например в гугл доке), в который студенты ьбудут писать свои текущие вопросы. Все вопросы нужно разбирать на еженедельной встрече со студентами.
2.Ввести дедлайны проверки заданий менторами. Лучших менторов, которые все делали в срок, делали качественное ревью, встречались регулярно со студентами - поощрять дополнительными подарками.
3.Рассмотреть возможность лиш

[2020-11-01 19:28] dzmitry-varabei commented on #157
Примеры code review от Andrei Markovich

1) успевающего студента:
- https://github.com/rolling-scopes-school/arzamas-ka-RS2020Q1/pull/1
- https://github.com/rolling-scopes-school/arzamas-ka-RS2020Q1/pull/5

2) не очень успевающего:
- https://github.com/rolling-scopes-school/kastrubait-RS2020Q1/pull/5

3) другие:
- https://github.com/rolling-scopes-school/matusvit-RS2020Q1/pull/4
- https://github.c

[2020-11-01 19:37] dzmitry-varabei commented on #157
# Краткие рекомендации по проверке работ студентов Rolling Scopes School от  Andrei Markovich

Данные рекомендации основаны на личном опыте, приктикам и style guides, которые используются на проекте и преследует цель помочь студентам понять основные ошибки/плохие практики/неточности, которые лучше избегать.

Проверку пулл реквеста можно начать с проверки корректности оформления реквеста, именовани

[2020-11-03 13:31] humanamburu commented on #157
## Рекомендации по организации проверки задания

Для более эффективного процесса код ревью заданий студентов, я бы порекомендовал практику декопозиции кода задания, как миниум на две части:
- **Draft**
Минимальная версия, которая показывает основную концепцию задачи и реализует основные части приложения в виде MVP. Решенная таким образом задача может не покрывать дополнительные требования.
- **Rel

[2020-11-17 19:12] Shastel commented on #139
Fixed 1e3f6da6389e9401e99fac04e525e9211261081f

[2020-11-17 19:12] #139 closed, assigned to nobody

[2020-11-19 13:19] #157 closed, assigned to nobody

[2020-11-19 19:47] Viklysx commented on #150
На странице с материалами неоднозначно указано про PP, а именно сначала написано, что он не требуется, но при этом указано про ошибки и штрафы за несоответствие PP:

![image](https://user-images.githubusercontent.com/58310634/99715772-57c7e800-2ab8-11eb-84fb-a5929fa9f52e.png)

[2020-11-20 18:30] irinainina commented on #150
Спасибо. Речь о том, что полное совпадение с макетом не требуется. Дальше речь о том, что могут быть отступы в 5-10 рх. Это довольно много. Но если вопрос возник, исправлю.

[2021-01-10 22:41] macroG0D commented on #155
@dzmitry-varabei
Что-ж, готовы дизайн макеты для заданий фронтенд курса RSS!!! 😊

Вместе с @sergeyshalyapin подготовили техническое задание: https://docs.google.com/document/d/1xiuYgyDOavCJ0Z66g8xf37iVqrI0aC-JnC-OAwxFOsw/edit

В течении последнего месяца мои ученики работали над этим заданием в качестве своего курсового проекта по дизайну.
Получилось 9 работ. Почти все на достаточно высоком уровне

[2021-03-09 16:56] azat-a opened #175 "Не отображаются картинки в разделе "Распределение по командам""
Страница: https://docs.rs.school/#/teams

Скриншот: ![image](https://user-images.githubusercontent.com/45105271/110507936-8e7e4880-8111-11eb-9b42-3811cab6affa.png)

[2021-03-23 11:24] #150 closed, assigned to irinainina

[2021-03-23 11:36] dzmitry-varabei opened #181 "[Курсы React/Angular]Отборочный этап для внешних кандидатов"
Отборочный этап для студентов, которые раньше не учились в RS School или имеют недостаточный score на курсe js/fe.
Начало отбора 5 июля.
Старт самих курсов - 20 июля.
Ответственный за подготовку - Ihar Dzeravianka

[2021-03-31 07:40] #181 closed, assigned to nobody

[2021-06-27 10:17] joniksid1 opened #190 "Fix-typo: RS school docs"
В разделе общие принципы к качеству кода, DRY, JS: Функции, комментарии к коду:
 //DRY Code и //non DRY сode расставлены не в тех местах, т.к. функция по логике должна соответствовать DRY, а объявления const есть в начале комментария, но они не закомментированы как DRY.
Ссылка на раздел - https://docs.rs.school/#/code-quality-guidelines/generic-principles?id=_1-dry-don39t-repeat-yourself
Скриншот:

[2021-06-28 06:08] #190 closed, assigned to nobody

[2021-08-02 11:39] webmakaka commented on #20
Привет! Из обсуждения в чате по node от закончивших курс.
Попросили написать здесь для обсуждения.

![pic1](https://user-images.githubusercontent.com/10372159/127855839-ffc8236e-1da1-4eed-a1aa-491576e25897.png)

![pic2](https://user-images.githubusercontent.com/10372159/127855853-aeb86e97-a383-45ed-a799-f7fb920bf2b8.png)

![Screenshot from 2021-08-02 14-37-48](https://user-images.githubusercontent

[2021-08-05 12:45] davojta commented on #20
Мне нравится лига и ачивки ) Это должно хорошо смотреть в онлайн cv и можно гордиться потом)

[2021-08-05 12:54] webmakaka commented on #20
Еще 1 идея от "генератора идей". На этот раз по кроссчеку.
Проверяющий не только проверяет 4 работы, но и выбирает ту, которая ему понравилась больше остальных. Мелочь, а приятно.

А в score добавить еще 1 поле "зрительские симпатии"

По завершении курса, можно понять у кого оказались наиболее понравившиеся работы и поизучать их. Всегда же есть чему учиться у лучших. Остается только найти этих луч

[2021-08-05 13:20] cathzetjo commented on #20
Нравится/не нравится это же вкусовщина  часто. Мне кажется добавлять за это баллы не совсем корректно. Что это будет за пункт ТЗ- у проверяющего остались приятные впечатления +10?)

А вот выделять лучшие работы автоматически- хорошая идея. Думаю некоторые ленятся специально   куда-то какие-то ссылки отправлять.)

[2021-08-05 13:28] webmakaka commented on #20
По работам с курса NODE и NODE + AWS могу только судить.
В некоторых все пункты формально соблюдены, но блин, не нравится и все.  Прям чувствуется запашок.
А есть прям отличные решения (некоторые я форкал себе), которые можно выделить на фоне других.

[2021-08-05 13:35] cathzetjo commented on #20
А что значит формально? Пункт либо выполнен , либо нет.
Мне кажется к студентам стоит быть добрее.
Всякие Фе они ещё успеют выслушать от заказчиков в реальной жизни.)

[2021-08-05 13:56] webmakaka commented on #20
Ок. Вариант с просто выбором наиболее понравившейся работой мне видится интересным.
(Ну и чтобы это отображалось где-то, например в таблице score).

[2021-08-07 21:37] AV-Shell commented on #20
По курсу js могу судить - очень часто попадались все 4 работы из которых ну ни как не хочется выбирать лучшую.  Я бы не вводил такое правило, выбирать лучшую из тех, которые попались на кроссчек. Вот напоминать, что если попались очень хорошие работы и вы хотите их отметить, то есть форма куда можно засабмитать ссылку на хорошую работу,  - стоит.  Просто если каждый будет выбирать лучшую работу из

[2021-09-30 09:54] Ramitsan commented on #175
В src картинки дописать параметр ?raw=true

![01](https://user-images.githubusercontent.com/45296707/135430512-0449726a-7f21-445c-91be-35a8279126e4.jpg)

![02](https://user-images.githubusercontent.com/45296707/135430560-089cf7d0-518f-4234-951e-4ab06ad6d6dc.jpg)

[2021-12-10 10:14] #155 closed, assigned to sergeyshalyapin

[2021-12-11 12:13] #19 closed, assigned to nobody

[2021-12-11 16:43] #55 closed, assigned to nobody

[2021-12-13 11:56] VladimirStavinchuk commented on #33
1. В разделе **Нотификации** https://docs.rs.school/#/notifications слово "апрувнуты". (Вы, как ментор, **апрувнуты** на курс (содержит ссылки для подтверждения участия как ментор, не требует подписки).
2. В разделе **Распределение по командам** https://docs.rs.school/#/teams картинки не подгружаются.

[2021-12-14 13:51] turn2river commented on #33
Привет!
В разделе про наименование коммитов (https://github.com/rolling-scopes-school/docs/blob/master/docs/git-convention.md#%D0%BC%D0%BE%D0%B6%D0%BD%D0%BE-%D0%BB%D0%B8-%D1%80%D0%B5%D0%B2%D0%B5%D1%80%D1%82%D0%BD%D1%83%D1%82%D1%8C-%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%B7%D0%B0%D0%BF%D1%83%D1%88%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%B2-%D1%80%D0%B5%D0%BF%D0%BE%D0%

[2021-12-18 12:19] cheshirelion opened #213 "Нет фавикона на https://docs.rs.school/#/"
Страница теряется в закладках.

![Screenshot 2021-12-18 151449](https://user-images.githubusercontent.com/67863322/146640726-d858e791-fe26-4fec-9579-8640c6bddb28.png)

[2022-03-14 04:52] AntonVarlamov commented on #33
что за слово сабмитуть? если должно быть сабмитнуть, тогда поправьте
![image](https://user-images.githubusercontent.com/37105065/158106982-b1c31864-4fd3-449c-8d1b-3e84f5bf8148.png)

[2022-03-14 04:54] AntonVarlamov commented on #33
еще  такая проблема, что при переходе на другие вкладки в доке скроллинг остается на том же уровне, хотя по идее должен переходить к началу страницы

[2022-03-14 07:45] dzmitry-varabei commented on #33
привет! спасибо! поправил!

[2022-03-20 20:03] AlexKhvostov opened #227 "корректировка вопроса RSS Test. (некритичное)"
![image](https://user-images.githubusercontent.com/42321432/159183737-df466ad2-0c1d-4def-abf9-07c812c24be2.png)
Некорректная формулировка вопроса RSS Test.
Под такую формулировку подходят несколько вариантов.

[2022-06-02 04:59] nik2218 commented on #33
Шпаргалка по markdown разметке не актуальная
![image](https://user-images.githubusercontent.com/79281924/171555858-ce2702ae-012d-434c-b38d-22e5c634296b.png)

По ссылке от гита есть актуальное руководство
https://gist.github.com/Jekins/2bf2d0638163f1294637

[2022-07-07 17:15] kosten20 opened #240 "Адаптив текста"
здравствуйте
страдает адаптив текста про уважаемых преподавателей на главной странице

https://rs.school/js/

![Screenshot_2022-07-07-22-42-28-197_com android chrome](https://user-images.githubusercontent.com/96771947/177831749-680dbe7a-5c70-44ad-a395-eb1247f4108e.jpg)
![Screenshot_2022-07-07-22-42-34-223_com android chrome](https://user-images.githubusercontent.com/96771947/177831760-6e8cc477-cb1

[2022-08-05 09:06] Margino opened #241 "Контрастность ссылок"
Привет!

**Возможная проблема**: ссылки в документации имеют недостаточную контрастность: **var(--theme-color,#42b983)** коэффициент контрастности с фоном всего 2.47.

**Предложение**: наибоеле близкие и оптимальные цвета **#2f845d** (contrast ratio AA 4.49) и **#236346** (contrast ratio AAA 7.13).

[2022-08-29 20:12] natein opened #243 "Неправильная ссылка на discord курса «NodeJS in AWS»"
На странице https://docs.rs.school/#/rs-school-chats указана неправильная ссылка на дискорд курса «NodeJS in AWS».
Сейчас ссылка ведёт на курс «NodeJS». Нужно заменить на https://discord.com/invite/ATsHAqCsnw

[2022-09-06 09:43] ghost commented on #33
Здравствуйте, нашёл небольшую опечатку в Менторинг>>Как стать ментором>>Джентельменское соглашение>> **Ментор имеют первоочередное право на** может изменить на Ментора имеют или Ментор имеет. Спасибо

[2022-10-15 23:05] auchynnikau commented on #243
@natein PR #251 fixing this issue was published, please, take a look